@use './variables' as *;

.list {
  padding: 0;
  min-height: 50vh;

  .nodata {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      font-size: clamp(1.6875rem, 1vw + 1.2rem, 1.875rem);
      color: rgba(0, 0, 0, 0.3);
    }
    p {
      font-size: clamp(0.875rem, 0.45vw + 0.8rem, 1rem);
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .list__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    .list__li {
      position: relative;
      flex: 0 0 calc(33.3% - 2px);
      cursor: pointer;

      .list__thumb {
        aspect-ratio: 1/1;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .list__info {
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
        color: #fff;
        font-size: clamp(0.8125rem, 0.4vw + 0.7rem, 0.9375rem);
        padding: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
        background: linear-gradient(to top, #0009, #0008, #0000);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .list__title {
          p {
            color: #fff;
            font-size: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
            text-decoration: none;
            font-weight: 600;
            display: -ms-flexbox;
            display: -webkit-box;
            display: box;
            overflow: hidden;
            vertical-align: top;
            text-overflow: ellipsis;
            word-break: keep-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }

        .list__period {
          margin-top: 0.625rem;
          display: flex;
          align-items: center;
          column-gap: 1px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .list {
    .list__ul {
      gap: 1px;
      .list__li {
        flex: 0 0 calc(50% - 0.5px);
        .list__info {
          .list__period {
            display: none;
          }
          .list__skills {
            display: none;
          }
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint-sm) {
  .list {
    .list__ul {
      gap: 1px;
      .list__li {
        flex: 0 0 100%;
      }
    }
  }
}

