@use './variables' as *;

.lobster-regular {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.max-w {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
}

#skip {
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.header {
  height: $header-height;
  border-bottom: 1px solid #ddd;

  .header__inner {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .header__logo {
    a {
      display: inline-block;
      font-family: 'Lobster', sans-serif;
      font-size: clamp(1.3125rem, 1.2vw + 1.1rem, 1.5rem);
      text-decoration: none;
      color: #111;
    }
  }
}

.profile {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  padding: clamp(1.6875rem, 1vw + 1.2rem, 1.875rem)
    clamp(1.125rem, 0.5vw + 1rem, 1.25rem);

  .profile__left {
    .profile__img {
      width: min(10rem, 80%);
      height: auto;
      margin: 0 auto;
      padding: 0.5rem;
      aspect-ratio: 1/1;
      border-radius: 100%;
      border: 1px solid #ddd;
      overflow: hidden;
      cursor: pointer;
      img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        background-color: #f2bc00;
      }
    }
  }

  .profile__right {
    .profile__name {
      font-size: clamp(1.125rem, 1.1vw + 1rem, 1.25rem);
      font-weight: 600;
    }

    .profile__info {
      display: grid;
      grid-template-columns: max(4rem, 15%) 1fr;
      font-size: clamp(0.875rem, 0.45vw + 0.8rem, 1rem);
      padding: clamp(1.125rem, 0.5vw + 1rem, 1.25rem) 0;
      gap: 0.6rem;

      .profile__info__tit {
        color: #737373;
      }
      .profile__info__desc {
        span {
          display: inline-block;
          opacity: 0.5;
          margin-right: 0.6rem;
        }
      }
    }

    .profile__extra {
      font-size: clamp(0.875rem, 0.45vw + 0.8rem, 1rem);
      font-weight: 300;
      font-style: italic;
    }
  }
}

.skill {
  position: relative;
  padding: clamp(1.6875rem, 1vw + 1.2rem, 1.875rem) 0;
  .skillSwiper {
    padding: 0 clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
    text-align: center;

    .thumb {
      aspect-ratio: 1/1;
      margin: 0 auto;
      padding: 3px;
      border-radius: 100%;
      border: 1px solid #ddd;
      overflow: hidden;

      .icon_wrap {
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(2rem, 5vw, 2.5rem);
        border-radius: 100%;
        & > i {
          line-height: 1;
        }

        .html {
          color: #f2682c;
        }
        .css {
          color: #31a8db;
        }
        .js {
          color: #f1bf26;
        }
        .react {
          color: #61dbfb;
        }
        .vue {
          color: #00c180;
        }
        .wai {
          color: #1c8722;
        }
      }
    }
    .name {
      font-size: clamp(0.875rem, 0.45vw + 0.8rem, 1rem);
      font-weight: 300;
      margin-top: 0.6rem;
    }
  }

  --swiper-navigation-top-offset: calc(50% - 2rem);
  --swiper-navigation-size: clamp(0.875rem, 0.45vw + 0.8rem, 1rem);
  --swiper-navigation-color: #fff;
  --swiper-navigation-sides-offset: 0.5rem;

  .swiper-button-prev,
  .swiper-button-next {
    width: clamp(1.6875rem, 1vw + 1.2rem, 1.875rem);
    height: clamp(1.6875rem, 1vw + 1.2rem, 1.875rem);
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
  }
}

.nav {
  height: clamp(2.8125rem, 2vw + 2rem, 3.25rem);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .nav__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .nav__li {
    position: relative;
    padding: 0 1.25rem;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      column-gap: 0.4rem;
      width: 100%;
      height: 100%;
      font-size: clamp(0.8125rem, 0.4vw + 0.7rem, 0.9375rem);
      color: #737373;

      i {
        font-size: 1.5em;
      }
    }

    &.active {
      a {
        color: #111;
      }

      &::after {
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background-color: #111;
      }
    }
  }
}

footer {
  padding: clamp(1.125rem, 1.1vw + 1rem, 1.25rem);
  text-align: center;

  p {
    font-size: clamp(0.875rem, 0.45vw + 0.8rem, 1rem);
    color: #737373;
    font-weight: 300;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

  .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-close {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0;
    cursor: pointer;

    i {
      font-size: 1.6rem;
      color: #fff;
    }
  }
}

@media screen and (max-width: $max-width) {
  .profile {
    grid-template-columns: 100%;
    padding-bottom: 0;
  }

  .modal-overlay {
    .btn-close {
      top: 10px;
      right: 10px;
    }
  }
}
